<div class="fo">
    <div class="container is-fluid">
        <div class="columns is-desktop">

            <div class="column left">
                <p class="title">特色农家乐</p>
                <p>联系方式：0731-000000</p>
                <p>地址：张家界市永定区</p>
                <p>公交线路：309路、W201、313、W109路到金山桥社区站下对面即是，918路公交车在黄金路口下步行10分钟。</p>

            </div>

            <div class="column">
                <div id="allmap" style='height: 100%;width: 100%'>

                </div>
            </div>
        </div>

        <div class="columns is-desktop link">
            <div class="column">
                <span>友情链接：</span>
            </div>
            <div class="column">
                <a href="">去哪儿网</a>
            </div>
            <div class="column">
                <a href="">携程旅游</a>
            </div>
        </div>

        <div style="border-bottom: 1px solid #cccccc"></div>

        <div class="content has-text-centered">
            <p>
                <strong>技术支持：by</strong> 
                <a>412976055</a>
            </p>
        </div>


    </div>
</div>