<div class="modal" id='orderInfo'>
        <div class="modal-background"></div>
        <div class="modal-content">
            <p class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
            </p>
            <p style='color: #ffffff;text-align: center'>
                扫描二维码添加微信，私聊老板预约房间
            </p>
            <p style='color: #ffffff;text-align: center'>
                联系电话：18874408888
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>


<div class="fo">
    <div class="container is-fluid">
        <div class="columns is-desktop">

            <div class="column left">
                <p class="title">特色农家乐</p>
                <p>联系方式：0731-000000</p>
                <p>地址：张家界市永定区</p>
                <p>公交线路：309路、W201、313、W109路到金山桥社区站下对面即是，918路公交车在黄金路口下步行10分钟。</p>

            </div>

            <div class="column">
                <div id="allmap" style='height: 100%;width: 100%'>

                </div>
            </div>
        </div>

        <div class="columns is-desktop link">
            <div class="column">
                <span>友情链接：</span>
            </div>
            <div class="column">
                <a href="">去哪儿网</a>
            </div>
            <div class="column">
                <a href="">携程旅游</a>
            </div>
        </div>

        <div style="border-bottom: 1px solid #cccccc"></div>

        <div class="content has-text-centered">
            <p>
                <strong>技术支持：by</strong> 
                <a>412976055</a>
            </p>
        </div>


    </div>
</div>

<script src="{{__HOST__}}/default/js/jquery.lazyload.js"></script>

<script>

     function orderRoom() {
        document.getElementById('orderInfo').classList.add("is-active")
    }

    document.querySelector('.modal-close').addEventListener('click', function () {
        console.log(111)
        this.parentNode.classList.remove("is-active")
    })

    jQuery(document).ready(function($){
        $("img.lazy-load").lazyload({ 
　　　　　　　　　　effect : "fadeIn", //渐现，show(直接显示),fadeIn(淡入),slideDown(下拉)
　　　　　　　　　　threshold : 180, //预加载，在图片距离屏幕180px时提前载入
　　　　　　　　　　event: 'scroll',  // 事件触发时才加载，click(点击),mouseover(鼠标划过),sporty(运动的),默认为scroll（滑动）
　　　　　　　　　　container: $("#imgcontainer"), // 指定对某容器中的图片实现效果
　　　　　　　　　　failure_limi:2 //加载2张可见区域外的图片,lazyload默认在找到第一张不在可见区域里的图片时则不再继续加载,但当HTML容器混乱的时候可能出现可见区域内图片并没加载出来的情况
　　　　　　　　}); 
    })

</script>
