




.hero.is-fullheight{
    min-height: 80vh;
}

.wrapBg{
    background-image: url(../images/wrapBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem
}

.hero {
    background: black url(../images/b1.jpg) center / cover;
    margin-top: 6vh;
    /* margin-bottom: 3rem; */
}




 .sangar-textbox-content{
   width:60%;
   background-color: rgba(100, 100, 100, .5);
   /* padding: 6vh 6vw */
 }

 





  











